@{
    ViewData["Title"] = "Carrinho";
}

<div class="row">                    
    
<div class="col p-md-5 p-sm-0 justify-content-center">
    <h1 class="text-center my-md-3 my-sm-2" style="color: #f06eaa"><b>ORÇAMENTO</b></h1>    
        <p class="mt-5"><b>Orçamento enviado! Em breve retornaremos o contato pelo e-mail cadastrado.</b></p>
        <a href="/Home/Index"><button class="btn btn-light text-white my-2" style="background-color: #f06eaa;">Voltar</button></a>
    </div>
</div>      
</div>
