@{
    ViewData["Title"] = "Serviços";
}


<main class="row">
  <div class="col p-5 justify-content-center">
    <h1 class="text-center my-2" style="color: #f06eaa"><b>SERVIÇOS DE COSTURA</b></h1>

    <div class="d-flex flex-wrap justify-content-center py-3">
    <div class="card bg-light p-2 m-3 justify-content-md-center" style="width: 18rem; border-radius: 2rem; align-items: center;">
        <img src="~/imagens/costura.jpg" class="card-img-top p-1 mt-3" style="border: solid 2px #f06eaa; border-radius: 50%; height: 200px; width: 200px;"  alt="costura">
        <div class="card-body text-center">
            <h5 class="card-title" style="color: #f06eaa">Consertos Gerais</h5>
            <p class="card-text" style="text-align: justify;"><b>Descrição: </b>Aumentar ou diminuir casas, bainhas, pence, troca ou colocação de elástico, velco ou ziper, etc.</p>
            <p><b>Valor: A combinar</b></p> 
        </div>
    </div>
    <div class="card bg-light p-2 m-3 justify-content-md-center" style="width: 18rem; border-radius: 2rem; align-items: center;">
        <img src="~/imagens/enxoval.jpg" class="card-img-top p-1 mt-3" style="border: solid 2px #f06eaa; border-radius: 50%; height: 200px; width: 200px;"  alt="enxoval">
        <div class="card-body text-center">
            <h5 class="card-title" style="color: #f06eaa">Enxoval Exclusivo</h5>
            <p class="card-text" style="text-align: justify;"><b>Descrição: </b> Monte o seu enxoval escolhendo um tecido do catálogo de produtos e a quantidade de peças.</p>
            <p><b>Valor: A combinar</b></p> 
        </div>
    </div>
    </div>

  </div>
</main>

